.TextBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.Done{
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 30px;
}