.TextBox{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.AddLabelText{
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.Done{
    display: flex;
    justify-content: flex-end;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 35px;
}