
.forgotBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3% ;
  width:100%;
  border: 3px solid rgb(158, 157, 157,0.4);
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  max-width: 350px;
  border-radius: 8px;
  }

  .buttonAlignment{
    display:flex;
   justify-content: space-around;
}
@media(max-width:1200px){
  .forgotBox{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:initial;
  }
}
@media(max-width:400px){
  .forgotBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:initial;
    
   
   
    
  }

}