.passwordResetBox {
  padding: 2% ;
  display: flex;
  border: 3px solid rgb(158, 157, 157, 0.4);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
}

.padding{
    padding-top: 30px;
}
@media(max-width:400px){
    .passwordResetBox{
        padding: 3% ;
       
    }
}